In [1]:
import pandas as pd
import numpy as np

#  ESTOQUE

In [2]:
df1=pd.read_excel('Analise Lotes Estoque.xlsx', engine = 'openpyxl')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9222 entries, 0 to 9221
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Arquivos  9222 non-null   object
 1   DATA      9222 non-null   datetime64[ns]
 2   QUADRA    9222 non-null   int64
 3   LOTE      9222 non-null   int64
 4   Q-L       9222 non-null   object
 5   ÁREA      8955 non-null   object
 6   TABELA    209 non-null    object
 7   GABARITO  7858 non-null   object
 8   POSIÇÃO   1005 non-null   object
 9   REAJUSTE  121 non-null    object
 10  MOEDA     235 non-null    object
 11  DT VENDA  91 non-null     object
 12  C         3459 non-null   object
 13  M         3431 non-null   object
 14  SITUACAO  9222 non-null   object
 15  CUSTO     8847 non-null   object
 16  Column16  2704 non-null   object
 17  Column17  1553 non-null   object
 18  Column18  0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(15)
memory usage: 1.3+ MB

In [4]:
df1.dropna(subset=['Column18'])
df1.sort_values("DATA")

,Arquivos,DATA,QUADRA,LOTE,Q-L,ÁREA,TABELA,GABARITO,POSIÇÃO,REAJUSTE,MOEDA,DT VENDA,C,M,SITUACAO,CUSTO,Column16,Column17,Column18
0,Relaçao de Lotes DEZEMBRO 2001.xlsx,2001-12-01,2,1,2-1,238.68,NaN,NaN,NaN,NaN,NaN,NaN,N,N,ESTOQUE,0,NaN,NaN,NaN
266,Relaçao de Lotes DEZEMBRO 2001.xlsx,2001-12-01,61,20,61-20,236.84,NaN,NaN,NaN,NaN,NaN,NaN,N,N,ESTOQUE,0,NaN,NaN,NaN
265,Relaçao de Lotes DEZEMBRO 2001.xlsx,2001-12-01,61,19,61-19,240.14,NaN,NaN,NaN,NaN,NaN,NaN,N,N,ESTOQUE,0,NaN,NaN,NaN
264,Relaçao de Lotes DEZEMBRO 2001.xlsx,2001-12-01,61,18,61-18,207.99,NaN,NaN,NaN,NaN,NaN,NaN,N,N,ESTOQUE,0,NaN,NaN,NaN
263,Relaçao de Lotes DEZEMBRO 2001.xlsx,2001-12-01,61,16,61-16,200,NaN,NaN,NaN,NaN,NaN,NaN,N,N,ESTOQUE,"0,00",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882,Relação de Lotes DEZEMBRO 2019.xlsx,2019-12-01,22,11,22-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OUTROS,NaN,241395000,NaN,NaN
2883,Relação de Lotes DEZEMBRO 2019.xlsx,2019-12-01,22,12,22-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OUTROS,NaN,240639000,NaN,NaN
2884,Relação de Lotes DEZEMBRO 2019.xlsx,2019-12-01,29,25,29-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OUTROS,NaN,240693000,NaN,NaN
2875,Relação de Lotes DEZEMBRO 2019.xlsx,2019-12-01,11,11,11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESERVADO,NaN,241222000,NaN,NaN
2864,Relação de Lotes DEZEMBRO 2019.xlsx,2019-12-01,10,15,10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ESTOQUE,NaN,240911000,NaN,NaN

In [5]:
df1.groupby(['DATA','Q-L','SITUACAO']).sum()

                            QUADRA   LOTE  Column18
DATA       Q-L   SITUACAO
2001-12-01 1-1   RESERVADO        1     1       0.0
           1-2   RESERVADO        1     2       0.0
           1-3   RESERVADO        1     3       0.0
           1-4   RESERVADO        1     4       0.0
           1-5   RESERVADO        1     5       0.0
...                             ...   ...       ...
2019-12-01 56-36 RESERVADO       56    36       0.0
           57-17 RESERVADO       57    17       0.0
           58-3  ESTOQUE         58     3       0.0
           61-17 ESTOQUE         61    17       0.0
           62-33 ESTOQUE         62    33       0.0

[9117 rows x 3 columns]

#  OCORRÊNCIAS

In [6]:
pd.read_excel('Analise Lotes Ocorrencias.xlsx')

XLRDError: Excel xlsx file; not supported

In [ ]:
df2=pd.read_excel('Analise Lotes Ocorrencias.xlsx')

In [ ]:
df2.info()

In [ ]:
df2.groupby(['DATA','Q-L','OCORRENCIA']).sum()

#  RELAÇÕES

In [ ]:
pd.read_excel('Analise Lotes Relacoes.xlsx')

In [ ]:
df3=pd.read_excel('Analise Lotes Relacoes.xlsx')

In [ ]:
df3.info()

In [ ]:
df3.groupby(['DATA','Q-L','Parcela']).sum()